<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="top_menu">
	<a href="/home">home</a>
	<a href="/member/insert">member/insert</a>
	<a href="/member/update">member/update</a>
	<a href="/member/delete">member/delete</a>
	<a href="/member/selectAll">member/selectAll</a>
	<a href="/member/selectOne">member/selectOne</a>
		<hr>
	<a href="/member/insertOK?name=kim&age=44">member/insertOK</a>
	<a href="/member/updateOK?num=11&name=kim&age=44">member/updateOK</a>
	<a href="/member/deleteOK?num=11">member/deleteOK</a>
</nav>
</html>